<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.redd.it/e0deevjvqth71.jpg); height: 60vh; background-size: cover;">
  <div class="container text-center col-6">
    <h1 style="color: white; padding-top: 25%;">Games in the Dungeon</h1>
    <%= form_tag boardgames_path, method: :get, class: "input-group" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a Boardgame"
      %>
      <%= submit_tag "Search", class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
</div>


<div class="container mt-3 mb-3">
  <div class="index-cards">
    <% @boardgames.each do |boardgame| %>
        <div class="index-card" style="background-color: white;">
          <%= link_to boardgame_path(boardgame) do %>
            <%= cl_image_tag boardgame.photo.key %>
          <% end %>
          <div class="index-card-infos d-flex flex-column justify-content-between" style="height: 175px">
            <div class="game-title">
              <h3><%= link_to boardgame.name, boardgame_path(boardgame)%></h3>
            </div>
            <div class="game-card-bottom">
              <h5>Genre: <%= boardgame.genre %></h5>
              <ul class="stars-index"><% 5.times do |x| %>
                <% if x < boardgame.rating %>
                  <li class="fa fa-star checked"> </li>
                <% else %>
                  <li class="fa fa-star"> </li>
                <% end %>
              <% end %></ul>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
