<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.redd.it/e0deevjvqth71.jpg); height: 60vh; background-size: cover;">
  <div class="container text-center col-6">
    <h1 style="color: white;">Games in the Dungeon</h1>
      <div class="input-group mt-3">
       <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" style="width:50px;">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
      </div>
  </div>
</div>

<div class="container mt-3 mb-3">
  <div class="index-cards">
    <% @boardgames.each do |boardgame| %>
    <div class="index-card" style="background-color: white;">
       <%= cl_image_tag boardgame.photo.key%>
        <div class="index-card-infos">
          <h3><%= link_to boardgame.name, boardgame_path(boardgame) %></h3>
          <br>
          <h5>Genre: <%= boardgame.genre %></h5>
          <span class="fa fa-star checked"> <%= boardgame.rating %> </span>
          <span class="fa fa-star checked"> <%= boardgame.rating %> </span>
          <span class="fa fa-star checked"> <%= boardgame.rating %> </span>
          <span class="fa fa-star checked"> <%= boardgame.rating %> </span>
          <span class="fa fa-star checked"> <%= boardgame.rating %> </span>
        </div>
    </div>
   <% end %>
  </div>
</div>
