  <div class="top-name">
    <h1>Add a game in the dungeon:</h1>
  </div>
  <div class="user-new">
      <div class="new-form">
        <div class="form col-7">
          <%= simple_form_for(@boardgame) do |f| %>
          <%= f.input :name %>
          <%= f.input :genre, collection: Boardgame::GENRES %>
          <%= f.input :description %>
        </div>
        <div>
          <img src="https://static.thenounproject.com/png/558475-200.png" alt="add_img">
        </div>
      </div>
  </div>

  <div class="button-container">
    <div class="button">
      <p><%= f.submit 'Add game', class: "btn btn-light"  %></p>
      <p><%= link_to 'Back', user_path(@user), class: "btn btn-light" %></p>
    </div>
  </div>
  <% end %>
