<div class="top-name">
  <h1>Add a game in the dungeon</h1>
</div>
<div class="user-new">
  <div class="form col-7">
    <%= simple_form_for(@boardgame) do |f| %>
      <%= f.input :name %>
      <%= f.input :genre, collection: @genre %>
      <%= f.input :description %>
      <div class="d-flex flex-wrap justify-content-between">
        <%= f.input :rating, collection: (1..5).to_a, wrapper_html: { style: "    width: 260px;" } %>
        <%= f.input :min_players, wrapper_html: { style: "margin-left: .25em;" } %>
        <%= f.input :max_players, wrapper_html: { style: "margin-left: .25em;" } %>
        <%= f.input :min_playtime, wrapper_html: { style: "margin-left: .25em;" } %>
        <%= f.input :max_playtime, wrapper_html: { style: "margin-left: .25em;" } %>
        <%= f.input :age_rating, wrapper_html: { style: "margin-left: .25em;" } %>
      </div>
      <%= f.input :photo, as: :file %>
      <%= link_to 'Back', user_path(@user), class: "btn btn-light" %>
      <%= f.submit 'Add game', class: "btn btn-light" %>
    <% end %>
  </div>
</div>
