<div class="top-name">
  <h1>Add a game in the dungeon</h1>
</div>
<div class="user-new">
  <div class="form col-7">
    <%= simple_form_for(@boardgame) do |f| %>
      <%= f.input :name %>
      <%= f.input :genre, collection: Boardgame::GENRES %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= link_to 'Back', user_path(@user), class: "btn btn-light" %>
      <%= f.submit 'Add game', class: "btn btn-light" %>
    <% end %>
  </div>
</div>
