<div class="container">
  <div class="cards">
    <div class="card">
      <div class="img-genre-rating">
      <%# add cloudinary tag %>
        <%= cl_image_tag @boardgame.photo.key %>
        <div class="card-infos">
          <h2>Genre: <%= @boardgame.genre %></h2>
          <h2>Rating: <%= @boardgame.rating %></h2>
        </div>
      </div>
      <div class="name-desc">
      <h2><%= @boardgame.name %></h2>
      <br>
      <p><%= @boardgame.description.html_safe %></p>
      </div>
    </div>
  </div>
</div>

<div class="container boardgame-links">
  <%= link_to "Back", boardgames_path, class: "btn btn-light" %>
  <%= simple_form_for [@boardgame, @booking] do |f| %>
  <%= f.submit "Rent", class: "btn btn-danger" %>
  <% end %>
</div>
