<div class="container">
  <div class="cards">
    <div class="card">
      <div class="img-genre-rating">
        <%= cl_image_tag @boardgame.photo.key %>
        <div class="card-infos">
          <h2><%= @boardgame.age_rating %>+</h2>
          <h2><%= @boardgame.genre %></h2>
          <h2><%= @boardgame.min_players %> - <%= @boardgame.max_players %> Players</h2>
          <h2><%= @boardgame.min_playtime %> mins - <%= @boardgame.max_playtime %> mins</h2>
          <ul><% 5.times do |x| %>
            <% if x < @boardgame.rating %>
              <li class="fa fa-star checked"> </li>
            <% else %>
              <li class="fa fa-star"> </li>
            <% end %>
          <% end %></ul>
        </div>
      </div>
      <div  class="name-desc">
        <h2><%= @boardgame.name %></h2>
        <br>
        <p><%= @boardgame.description.html_safe %></p>
        <br>
        <% if current_user == @boardgame.user %>
          <button class="btn btn-danger"><%= link_to "Remove #{@boardgame.name}", boardgame_path(@boardgame), style: "text-decoration: none; color: black;", method: :delete, data: { confirm: "Are you sure" } %></button>
        <% end %>
        <div class="belongs-to">
          <h1>This boardgame belongs to: <% if User.find(@boardgame.user_id) == current_user %></h1>
        </div>
        <% else %>
          <%= link_to "#{User.find(@boardgame.user_id).username}", user_path(User.find(@boardgame.user_id)), { style: "text-decoration: none;" } %></h2>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<% unless current_user == @boardgame.user %>
  <div class="container col-7" style="background-color: white; padding: 16px;">
    <%= simple_form_for [@boardgame, @booking] do |f| %>
      <div class="d-flex justify-content-center">
        <%= f.input :rent_from, html5: true %>
        <%= f.input :rent_till, html5: true %>
      </div>
      <div class="d-flex justify-content-center">
        <%= f.submit "Rent", class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="container boardgame-links">
  <%= link_to "Back", boardgames_path, class: "btn btn-light" %>
</div>
